.App {
  font-family: inter;
  text-align: center;
  background-color: #23252C;
  width: 317px;
  margin: auto;
  margin-top: 100px;
  border-radius: 10px;
}

.App img{
  border-radius: 10px 10px 0 0;
}

.myButtons{
  display: flex;
  margin: 10px;
  align-items: center;
}

.myButtons button{
  margin: 10px;
  width: 150px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.personName{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 10px;
}

.frontend{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 10px;
  text-align: center;
  color: #F3BF99;
}

.website{
  height: 16px;
  left: 161px;
  top: 437px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 10px;
  text-align: center;
  color: #F5F5F5;
}

.about{
  text-align: left;
  margin-left: 20PX;
  width: 242.71px;
  height: 21px;
  left: 151px;
  top: 535px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #F5F5F5;
}

.abouttext{
  text-align: left;
  text-justify: inter-word;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  color: #DCDCDC;
  margin-left: 20px;
}

.mainFooter{
  text-align: center;
  display: inline-block;
  align-items: center;
}

.mainFooter img{
  margin: 12px; 
  border-radius: 0;
}
